@model List<RestaurantAggregator.API.Common.DTO.RestaurantDTO>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var restaurant in Model)
{
    <p>@restaurant.Id</p>
    <p>@restaurant.Name</p>
    <p>@restaurant.Menus</p>
}

