@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, админ</h1>
    <p> Тут ты имеешь право на CRUD ресторанов, CRUD менеджеров, CRUD поваров, CRUD курьеров и бан каких-либо пользователей в системе</p>
</div>