@model RestaurantAggregator.API.Common.DTO.RestaurantDTO

@{
    ViewBag.Title = "Add Restaurant";
}

<h1>Добавление нового ресторана</h1>

<h4>Информация о ресторане</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Get">Вернуться назад</a>
</div>
