@model List<RestaurantAggregator.API.Common.DTO.RestaurantDTO>

@{
    ViewBag.Title = "Restaurants";
}

<h2>Рестораны</h2>

<p>
    <a asp-action="Add">Create new restaurant</a>
</p>
<div style="padding: 30px"></div>
<table class="table">
    <tbody>
        @foreach (var restaurant in Model) {
                <tr class="border-bottom">
                    <td>
                        @Html.DisplayFor(modelItem => restaurant.Name)
                    </td>
                    <td class="float-end">
                        <a asp-action="Edit" asp-route-id="@restaurant.Id">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@restaurant.Id">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@restaurant.Id">Удалить</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
